.searchengine-container {
    position: relative;

    background-color: rgba(30, 29, 29, 0.833);

    box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;

    border-radius: .5vh;

    backdrop-filter: blur(30px);

    top: 20vh;
    left: 50%;

    transform: translate(-50%, 0);

    width: 80%;
    height: max-content;
}

.search-button {
    position: absolute;

    bottom: 2vh;
    right: 2vh;

    padding: 1.5vh;

    background-color: rgb(95, 96, 96);

    font-size: 1.8vh;
    font-weight: 700;

    border-radius: .5vh;
}

.search-input {
    position: relative;
    display: inline-block;

    left: 12%;
    top: 2vh;

    margin-right: 5vh;

    background-color: rgb(58, 57, 57);
    box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;

    font-size: 1.8vh;

    height: 5.5vh;

    border-radius: .5vh;

    text-align: center;

    margin-bottom: 4vh;
}

.search-input:focus {
    outline: none;

    color: rgb(255, 255, 255);
}

.search-input::placeholder {
    color: rgb(241, 233, 233);
    font-weight: 700;
}

.search-title {
    display: none;
}

.search-mobile-toggle {
    position: absolute;
    display: none;

    top: 4vh;
    left: 50%;

    transform: translate(-50%, 0);

    padding: 2vh;

    border-radius: .5vh;

    background-color: rgba(75, 75, 75, 0.592);

    box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;

    backdrop-filter: blur(10px);
    font-size: 2vh;
}

.search-bar-close-mobile {
    position: absolute;

    top: 10vh;
    right: 6vh;

    padding: 2vh;

    background-color: rgb(26, 26, 26);
    border-radius: .5vh;

    font-weight: 700;
}

@media (max-width: 1100px) {
    .searchengine-container  {
        display: none;
        position: fixed;

        top: 0%;
        left: 0%;

        height: 100%;
        width: 100%;

        transform: translate(0, 0);

        z-index: 99;    
        
        opacity: 0;
        animation: fadeInAnimation .2s ease-in forwards;
    }

    @keyframes fadeInAnimation {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

    .searchengine-toggle-mobile {
        display: block;
    }

    .search-mobile-toggle {
        display: block;
    }

    .search-button {
        position: absolute;
        left: 50%;
        bottom: 17.5vh;
        width: 40vh;

        transform: translate(-50%, 0);
        box-shadow: rgb(0, 0, 0) 0px 7px 29px 0px;
    }

    .search-input {
        display: block;

        top: 40%;
        left: 50%;

        transform: translate(-50%, -50%);

        width: 40vh;
    }

    .search-title {
        position: absolute;
        display: block;
    
        top: 10vh;
        left: 6vh;
    
        font-size: 4vh;
        font-weight: 700;
    }
}

@media (max-width:600px) {
    .search-mobile-toggle {
        left: 23vh;

        transform: translate(0, 0);
    }
}

@media (max-width:520px) {
    .search-mobile-toggle {
        top: 8.2vh;
        left: 1vh;
    }
}